<div ng-controller="homeController as vm">
    <div class="row">
        <div id="myCarousel" class="carousel slide myCarousel" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner myCarousel" role="listbox">
                <div class="item" ng-repeat="deal in vm.deals" ng-class="{'active':$index==1}">
                    <img src="{{deal.img}}" ng-click="vm.nevigateTo(deal.DiscountId)" />
                        <div class="carousel-caption">
                            <h3>{{deal.Name}}</h3>
                            <p>Check Out Details</p>
                            <!--these images should be ideally 940X310-->
                        </div>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev" role="button">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next" role="button">
                <span class="icon-next"></span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">BLACK FRIDAY DEAL</div>
                <div class="panel-body"><img src="https://placehold.it/50x50?text=IMAGE" class="img-responsive" alt="Image" style="width:100%;"></div>
                <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">BLACK FRIDAY DEAL</div>
                <div class="panel-body"><img src="https://placehold.it/50x50?text=IMAGE" class="img-responsive" alt="Image" style="width:100%;"></div>
                <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">BLACK FRIDAY DEAL</div>
                <div class="panel-body"><img src="https://placehold.it/50x50?text=IMAGE" class="img-responsive" alt="Image" style="width:100%;"></div>
                <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
            </div>
        </div>
    </div>
</div>