<div ng-controller="filtersController as vm">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Brands</div>
                <div class="panel-body" style="max-height:200px; overflow-y:auto;">
                    <p ng-repeat="brand in vm.brands">
                        <label>
                            <input type="checkbox" ng-model="brand.selected" name="brand.BrandId" ng-click="vm.setProductsFilter('brand', brand.selected, brand.BrandId)"/> {{brand.Name}}
                        </label>
                    </p>
                </div>
                <!--<div class="panel-footer">Buy 50 mobiles and get a gift card</div>-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-danger">
                <div class="panel-heading">Categories</div>
                <div class="panel-body" style="max-height:200px; overflow-y:auto;">
                    <p ng-repeat="category in vm.categories">
                        <label>
                            <input type="checkbox" ng-model="category.selected" name="category.CategoryId" ng-click="vm.setProductsFilter('category', category.selected, category.CategoryId)"/> {{category.Name}}
                        </label>
                    </p>
                </div>
                <!--<div class="panel-footer">Buy 50 mobiles and get a gift card</div>-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-danger">
                <div class="panel-heading">Sub Category</div>
                <div class="panel-body" style="max-height:200px; overflow-y:auto;">
                    <p ng-repeat="subCategory in vm.subCategories">
                        <label>
                            <input type="checkbox" ng-model="subCategory.selected" name="subCategory.SubCategoryId"  ng-click="vm.setProductsFilter('subCategory', subCategory.selected, subCategory.SubCategoryId)" /> {{subCategory.Name}}
                        </label>
                    </p>
                </div>
                <!--<div class="panel-footer">Buy 50 mobiles and get a gift card</div>-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-danger">
                <div class="panel-heading">Package Type</div>
                <div class="panel-body" style="max-height:200px; overflow-y:auto;">
                    <p ng-repeat="packageType in vm.packageTypes">
                        <label>
                            <input type="checkbox" ng-model="packageType.selected" name="packageType.PackageTypeId" ng-click="vm.setProductsFilter('packageType', packageType.selected, packageType.PackageTypeId)" /> {{packageType.Name}}
                        </label>
                    </p>
                </div>
                <!--<div class="panel-footer">Buy 50 mobiles and get a gift card</div>-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-danger">
                <div class="panel-heading">Package Size</div>
                <div class="panel-body" style="max-height:200px; overflow-y:auto;">
                    <p ng-repeat="packageSize in vm.packageSizes">
                        <label>
                            <input type="checkbox" name="packageSize.PackageSizeId" ng-model="packageSize.selected" ng-click="vm.setProductsFilter('packageSize', packageSize.selected, packageSize.PackageSizeId)" /> {{packageSize.Name}}
                        </label>
                    </p>
                </div>
                <!--<div class="panel-footer">Buy 50 mobiles and get a gift card</div>-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-danger">
                <div class="panel-heading">Price Range</div>
                <div class="panel-body" style="max-height:200px; overflow-y:auto;">
                    <input type="number" placeholder="Min" style="width:50px;" ng-model="vm.priceRangeMin" ng-change="vm.setProductsFilter('priceRange', vm.priceRangeMin)" />
                    To
                    <input type="number" placeholder="Max" style="width:50px;" ng-model="vm.priceRangeMax"  ng-change="vm.setProductsFilter('priceRange', vm.priceRangeMax)"/>
                </div>
                <!--<div class="panel-footer">Buy 50 mobiles and get a gift card</div>-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-danger">
                <div class="panel-heading">Delivery Type</div>
                <div class="panel-body" style="max-height:200px; overflow-y:auto;">
                    <p ng-repeat="deliveryType in vm.deliveryTypes">
                        <label><input type="checkbox" value="deliveryType.Name" ng-model="deliveryType.selected" name="deliveryType.DeliveryTypeId" ng-change="vm.setProductsFilter('deliveryType', deliveryType.selected, deliveryType.DeliveryTypeId)" /> {{deliveryType.Name}}</label>
                    </p>
                </div>
                <!--<div class="panel-footer">Buy 50 mobiles and get a gift card</div>-->
            </div>
        </div>
    </div>
</div>